<%= form_for(@amoeba) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :generation %><br>
    <%= f.number_field :generation %>
  </div>

  <div class="field">
    <%= f.label :talent_id %><br>
    <%= collection_select(:talent, :talent_id, Talent.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :acts %><br>
    <% Act.all.each do |act| %>
      <%= check_box(:act, :act_id, {multiple: true}, act.id, nil) %>
      <%= f.label act.name %><br>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>